<section class="container edit-phrase ff-inter">
  <header class="header">
    <h2>Edite seu <br>pensamento:</h2>
  </header>
  <form>
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      name="pensamento"
      placeholder="Digite o pensamento"
      [(ngModel)]="phrase.content"
    >
    <label for="author">Autoria ou fonte</label>
    <input
      type="text"
      class="input"
      id="author"
      name="author  "
      placeholder="Digite a autoria ou fonte"
      [(ngModel)]="phrase.author"
    >
    <label for="model">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-model">
        <label for="model1">
          <input
            type="radio"
            id="model1"
            value="model1"
            name="model-card"
            [(ngModel)]="phrase.model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="model model1 ff-roboto-mono">
          <img src="../../../../assets/model1.png" alt="Aspas azuis">
          <p class="conteudo">{{ phrase.content }}</p>
          <p class="autoria"><b>{{ phrase.author }}</b></p>
        </div>
      </div>

      <div class="radio-model">
        <label for="model2">
          <input
            type="radio"
            id="model2"
            value="model2"
            name="model-card"
            [(ngModel)]="phrase.model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="model model2 ff-roboto-mono">
          <img src="../../../../assets/model2.png" alt="Aspas azul claro">
          <p class="conteudo">{{ phrase.content }}</p>
          <p class="autoria"><b>{{ phrase.author }}</b></p>
        </div>
      </div>

      <div class="radio-model">
        <label for="model3">
          <input
            type="radio"
            id="model3"
            value="model3"
            name="modelo-card"
            [(ngModel)]="phrase.model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="model model3 ff-roboto-mono">
          <img src="../../../../assets/model3.png" alt="Aspas verdes">
          <p class="conteudo">{{ phrase.content }}</p>
          <p class="autoria"><b>{{ phrase.author }}</b></p>
        </div>
      </div>
    </div>
    <div class="action-buttons">
      <button (click)="updatePhrase()" class="button">Salvar</button>
      <button (click)="cancelAction()" class="button">Cancelar</button>
    </div>
  </form>
</section>